useDynLib(sapFinder)
import(Rcpp)
importFrom(graphics, abline, axTicks, barplot, box, clip, hist, legend,
        lines, par, plot, rug, text)
importFrom(grDevices, colorRampPalette, dev.off, png)
importFrom(pheatmap, pheatmap)
importFrom(rTANDEM, rTParam, rTTaxo, setParamValue, tandem)
importFrom(stats, density, na.omit)
importFrom(utils, read.delim, read.table)
export(dbCreator)
export(runTandem)
export(parserGear)
export(reportCreator)
export(easyRun)
